<h2>Invite User</h2>
<%= form_tag create_invitation_users_path, method: :put,  class: "form-material form-horizontal" do  %>
  <div class = "form-inputs fields">
    <div class="field">
      <%= label_tag "Email" %><br />
      <%= text_field_tag :email, nil, class: 'form-control masked exp_desp ' %>
    </div>
    <div>
      <%= submit_tag "Invite User", class: "btn btn-info btn-sm"  %>
    </div>
  </div>
<% end %>





