<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 white-box">
    <h1 class="text-center"></h1>
    <%= simple_nested_form_for @customer, html: {class: "form-material form-horizontal"} do |f| %>
      <%= render partial:'customers/shared/form' , locals: {f: f} %>
    <%end%>
  </div>
</div>
