<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8 col-sm-12 white-box">
    <h1 class="text-center"></h1>
    <%= simple_nested_form_for @customer, html: {class: "form-material form-horizontal"}, url: customers_path , method: :post  do |f| %>
      <%= f.error_notification %>
      <%= render partial:'customers/shared/form' , locals: {f: f} %>
    <%end%>
  </div>
</div>




