<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-offset-2 col-md-8 col-sm-12 white-box">
    <h1 class="text-center">Edit Contact</h1>
    <%= simple_nested_form_for @contact, html: {class: "form-material form-horizontal"} do |f| %>
      <%= render partial:'contacts/shared/form' , locals: {f: f} %>
    <%end%>
  </div>
</div>


