<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="logofooter">
          <%=image_tag 'mobile.png' %>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
    </div>
  </div>
    <div class="row">
       <div class="col-md-12 text-center">
         2017 &copy; cWs | build-v1.3
       </div>

    </div>
  </div>
</div>
